<h3> Here is your creature!!</h3>

<div>

   Creature Name: <%= @creature.name %> <br>
   Description: <%= @creature.description %><br>


</div>

<a href="/creatures/new">Create a new creature?</a><br>
<a href="/creatures"> want to see all of them?</a>